* {
        font-family: 'poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
    background: rgb(233, 249, 255) ;

}

/*                                          HEADER                    */

.header {
    overflow: hidden;
    background: linear-gradient(to right, #121212, #2803fa);
    padding: 10px 10px;
    border-bottom-right-radius: 50px;
    position: relative;
    margin-bottom: auto;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}


/*                                          HOME                      */
.content{
    position: relative;
}

.content .banner-card {
    position: relative;  
}
.content .banner-card img {
    width: 100%;  
    height: 300px;
    filter:blur(10px);  
}
.content .banner-card .banner-text{
    position: absolute;
    top:15%;
    color: #fff;
    padding:10px;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin-left: 40px;
}

.content .banner-card .banner-text h4{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:5px;
    margin-left: 10px;
}
.content .fa-solid.fa-comment {
    font-size: 60px;
    margin-left: 50px;
    color:rgb(240, 248, 255);
    margin-top:10px;
}
.content .banner-card .banner-text p{
    margin-left: 30px;
    margin-top:10px;
}


.content .colonne{
    display: flex;
    justify-content: space-between;
}

.content .colonne .colonna-txt{
    float:left;
    max-width: 40%;
    margin-left: 10%;
    border-right: 1px solid #ccc; /* Aggiungi questa linea per la linea verticale */
    padding-right: 20px; /* Aggiungi il padding se vuoi separare il testo dalla linea */
}
.content .colonne .colonna-txt p {
    float:left;
    max-width: 100%;
    font-size: 20px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.content .colonne .colonna-txt p strong{
    color:#1085b0;
}
.content .colonne .colonna-txt h2{
    align-items: center;
    font-size: 45px;
    margin-left:60%;
    color: #1085b0;
    font-family:'Times New Roman', Times, serif;
}

.content .colonne .gallery-container{
    max-width: 100%;
    max-height: 100%;
}

.content .colonne .gallery-container .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .content .colonne .gallery-container  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .content .colonne .gallery-container  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .content .colonne .gallery-container  .slideshow-container {
    width: 80%;
    position: relative;
    margin: auto;
  }
  .content .colonne .gallery-container  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .content .colonne .gallery-container  .numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .content .colonne .gallery-container  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .content .colonne .gallery-container .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .content .colonne .gallery-container  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }


/*                                          FOOTER                     */
footer {
    width: 100%;
    background: linear-gradient(to right, #121212, #2803fa);
    color: #fff;
    padding: 10px 0 30px;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    margin-top: auto; /* Push the footer to the bottom */
    border-top-left-radius: 75px;
}

.row{
width: 85%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;
}

.col{
flex-basis: 25%;
padding: 10px;
}
.col:nth-child(2),.col:nth-child(3) {
flex-basis: 15%;
}

.logo{
width: 20px ;
margin-bottom: 30px;
}
.col h3{
width: fit-content;
margin-bottom: 40px;
position: relative;
}

.email-id{
width: fit-content;
border-bottom: 1px solid #ccc;
margin: 20px 0;
}

ul li{
list-style: none;
margin-bottom: 12px;
}

ul li a{
text-align: none;
color: #fff;
}

form{
padding-bottom: 15px;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #ccc;
margin-bottom: 50px;
}

form .far{
font-size: 18px;
margin-right: 10px;
}

form input{
width: 100%;
background:transparent;
color: #ccc;
border : 0;
outline: none;
}

form button {
background: transparent;
border: 0;
cursor: pointer;
outline: none;
font-size:16px ;
color: #ccc
}

.social-icons .fab{
width:40px;
height: 40px;
border-radius: 50%;
text-align: center;
line-height: 40px;
font-size: 20px;
color: #000;
background: #fff;
margin-right: 15px;
cursor: pointer;
}

hr{
width: 90%;
border: 0;
border-bottom: 1px solid #ccc;
margin: 20px auto;
}

.copyright{
text-align: center;
}

.underline{
width: 100%;
height: 5px;
background: #767676;
border-radius: 3px;
position: absolute;
top:25px;
left:0;
overflow: hidden;
}

.underline span{
width: 15px;
height: 100%;
background:#fff;
border-radius: 3px;
position: absolute;
top:0;
left:10px;
animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left:100%;
    }
}
@media (max-width:550px){
    .header-right{
        float:none;
        position: relative;
        margin-top:150px;
    }
}
@media (max-width:420px){
    form {
        width:300px;
    }

    .social-icons .fab{
        margin:5px;
    }
}

